/*-------------------------------------------------------------------------------------------*
 *                               GITIGNORE FILE - HYOT APPLICATION                           *
 *-------------------------------------------------------------------------------------------*/

# Jetbrains IDE
.idea/*

# Node modules
node_modules/*
